div.well(ng-hide='done', ng-show='!showMessage')
  .row
    .col-md-1.form-group(ng-repeat='c in chs')
      button.btn.btn-game(ng-class="{'btn-warning': c.status == 'selected', 'btn-success': c.status == 'done', '': c.status == ''}", ng-click='try($index)')
        .item-game(ng-bind='c.value')