#userNameModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="userNameModalLabel", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4.modal-title Configuration
      .modal-body
        form(role="form")
          .form-group
            label Set your name
            input.form-control(ng-model='user.name')
            
          table.table.table-condensed.table-striped.table-bordered
            tr
              th Level
              th Attempt
              th Time
            tr(ng-repeat='m in messages')
              td
                div(align='center') 
                  span(ng-bind='m.level')
              td
                div(align='center')
                  span(ng-bind='m.tries')
              td 
                div(align='center')
                  span(ng-bind='m.time')
            tr(ng-show='messages.length==0')
              td(colspan='3')
                div(align='center') Statistics is emtpy
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close