.well
  .row
    .col-lg-1
      .panel.panel-info
        .panel-heading
          .row
            a.btn.btn-info.col-md-10.btn-help(ng-disabled="time != 0"
              ,ng-click='setLevel(levelOptions["circular"])'
              ,data-toggle='modal', data-target='#helpModal' )
              span.fa-2x(ng-bind='"?"')
    .col-lg-3
      .panel.panel-info
        .panel-heading
          .btn-group.btn-group-justified
            a.btn.btn-primary.btn-lg(data-toggle='modal', data-target='#userNameModal')
              i.glyphicon.glyphicon-cog.fa-2x
              br
            a.btn.btn-primary.col-sm-3(ng-disabled="time == 0", ng-click='stop()')
              i.glyphicon.glyphicon-pause.fa-3x
              br
            a.btn.btn-primary.col-sm-3(ng-disabled="time != 0", ng-click='start()')
              i.glyphicon.glyphicon-play.fa-3x
        .panel-heading
          .btn-group.btn-group-justified
            a.btn.btn-info.col-md-6(ng-disabled="time != 0", ng-click='setLevel(levelOptions["circular"])')
              span.fa-2x(ng-bind='pSc(10033)')
            a.btn.btn-info.col-md-6(ng-disabled="time != 0", ng-click='setLevel(levelOptions["arrows"])')
              span.fa-2x(ng-bind='pSc(8592)')
            a.btn.btn-info.col-md-6(ng-disabled="time != 0", ng-click='setLevel(levelOptions["ideographs"])')
              span.fa-2x(ng-bind='pSc(13312)')


    .col-lg-2
      .panel.panel-info
        .panel-heading
          .row
            .col-xs-12
              i.fa.fa-sitemap.fa-5x
            .col-xs-12.text-right
              p.announcement-heading(ng-bind='level') 0
    .col-lg-2
      .panel.panel-success
        .panel-heading
          .row
            .col-xs-12
              i.fa.fa-check.fa-5x
            .col-xs-12.text-right
              p.announcement-heading(ng-bind='wins || 0') 0
    .col-lg-2
      .panel.panel-warning
        .panel-heading
          .row
            .col-xs-12
              i.fa.fa-tasks.fa-5x
            .col-xs-12.text-right
              p.announcement-heading(ng-bind='tries || 0') 0
    .col-lg-2
      .panel.panel-danger
        .panel-heading
          .row
            .col-xs-12
              i.glyphicon.glyphicon-time.fa-5x
            .col-xs-12.text-right
              p.announcement-heading(ng-bind='time || 0') 0
